<center>
<br />
<h1>Hello, <%= @display_name %>.</h1>
<br />
<h2><%= link_to "Create a Room", new_room_path(creator_id: @user.id) %></h2>
<br />
<h2><%= link_to "Join a Room", join_room_path %></h2>
</center>