<center>
<br />
<%= flash[:notice].try(:html_safe) %>
<br />
<h1>AuxMerge</h1>
<br />
<b>Satisfy everyone's music tastes with one playlist!</b>
<br />
<br />
<h2><%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post %></h2>
</center>