<meta name="viewport" content="width=device-width, initial-scale=1.0">
<center>
<body style="background-color:#212121 ;">
<br />
<div class="redtext3">
    <%= flash[:notice].try(:html_safe) %>
</div>
<br />
<h1 class= "greentext1">AuxMerge</h1>
<br />
<h1 class= "greentext3">Satisfy everyone's music tastes with one playlist!</h1>
<br />
<h1><%= button_to 'Log into Spotify', '/auth/spotify', method: :post, :class => "button1" %></h1>
<br />
</center>
