<center>
<%= flash[:notice].try(:html_safe) %>
<br />
<h1>Your playlist has been downloaded!</h1>
<%= link_to 'Back to Room', room_path(@room.id, user_id: @user_id) %>
<br />
<%= link_to 'Leave Room', room_leave_path(@room.id, user_id: @user_id) %>
</center>