.button1{
background-color: #01d95a;
border-radius: 20px;
color: #212121;
width: 230px;
height: 60px;
font-size: 27px;
font-family: "Gotham";
}

.button2{
background-color: #01d95a;
border-radius: 20px;
color: #212121;
width: 110px;
height: 38px;
font-size: 22px;
font-family: "Gotham";
}
  