.button1{
background-color: #01d95a;
border-radius: 20px;
color: #212121;
font-size: 6vw;
padding: 1%;
font-family: "Gotham";
}

.button2{
background-color: #01d95a;
border-radius: 20px;
color: #212121;
padding: 1%;
font-size: 4vw;
font-family: "Gotham";
}

.button3{
background-color: #01d95a;
border-radius: 20px;
color: #212121;
font-size: 2vw;
font-family: "Gotham";
padding: 1%;
}



.greentext1{
color:#01d95a;
font-family:Gotham;
font-size: 6vw;
}

.greentext2{
color:#01d95a;
font-family:Gotham;
font-size: 4vw;
}

.greentext3{
color:#01d95a;
font-family:Gotham;
font-size: 2vw;
}

.greentext3bold{
color:#01d95a;
font-family:Gotham;
font-size: 2vw;
font-weight: bold;
}

.label3 {
color: #01d95a;
padding: 1%;
font-size: 2vw;
border-radius: 20px;
}

.input {
padding: 6px 20px;
font-size: 40px;
border-radius: 20px;
color:#01d95a;
background-color: #212121;
}

.input2 {
padding: 6px 20px;
font-size: 30px;
border-radius: 20px;
color:#01d95a;
background-color: #212121;
}
.input3 {
padding: 1%;
font-size: 2vw;
border-radius: 20px;
color:#01d95a;
background-color: #212121;
}
  