.button5{
background-color: #01d95a;
border-radius: 20px;
color: #212121;
width: 350px;
height: 80px;
font-size: 40px;
font-family: "Gotham";
}

.button6{
background-color: #01d95a;
border-radius: 20px;
color: #212121;
width: 180px;
height: 50px;
font-size: 30px;
font-family: "Gotham";
}

.greentext1{
color:#01d95a;
font-family:Gotham;
font-size: 300%;
}

.greentext2{
color:#01d95a;
font-family:Gotham;
font-size: 200%;
}

.greentext3{
color:#01d95a;
font-family:Gotham;
font-size: 100%;
}

.label {
color: #01d95a;
padding: 6px 20px;
font-size: 40px;
border-radius: 20px;
}

.input {
padding: 6px 20px;
font-size: 40px;
border-radius: 20px;
color:#01d95a;
background-color: #212121;
}
.button7 {
background-color: #01d95a;
border-radius: 20px;
color: #212121;
width: 320px;
height: 70px;
font-size: 40px;
font-family: "Gotham";
}

.input2 {
padding: 6px 20px;
font-size: 30px;
border-radius: 20px;
color:#01d95a;
background-color: #212121;
}
  